[submodule "deps/leveldb"]
	path = deps/leveldb
	url = git@github.com:google/leveldb.git
[submodule "deps/pymaid"]
	path = deps/pymaid
	url = https://github.com/Catstyle/pymaid.git
[submodule "deps/protobuf"]
	path = deps/protobuf
	url = https://github.com/google/protobuf.git
[submodule "deps/protobuf-net"]
	path = deps/protobuf-net
	url = git@github.com:mgravell/protobuf-net.git
[submodule "deps/libuv"]
	path = deps/libuv
	url = git@github.com:libuv/libuv.git
