[submodule "libev"]
	path = libev
	url = https://github.com/michaelmior/libev.git
[submodule "leveldb"]
	path = leveldb
	url = https://code.google.com/p/leveldb/
[submodule "pymaid"]
	path = pymaid
	url = https://github.com/Catstyle/pymaid.git
